body{
/*background: url("../images/nickel.jpg");*/

}


.panel > .panel-heading{
	background-color: #42A5F5;
}

.jumbotron{
	background-color: #42A5F5;

}

/*panel-body{
	width: 640;
	height: 390;
}*/